* {
    margin: 0px;
    padding: 0px;
}


.banner {
    background-color: #FCEEF1;
    height: 850px;
    width: 1920px;

}

.banner {
    display: flex;
    justify-content: space-around;
}

.banner-content {
    margin-top: 200px;
    margin-bottom: 150px;
    margin-right: 50px;
    margin-left: 200px;
}

.banner-text {
    font-size: 80px;

}

.banner-description {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.banner-img {
    margin-top: 50px;
    margin-right: 200px;
    height: 800px;
    width: 635px;
}

.primary-btn {
    margin: 10px;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: white;
    list-style: none;

}

.primary-btn:hover {
    background-color: #7aabf5;
    color: red;
}

.section-tittle {
    margin-top: 150px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: normal
}

.tittle-description {
    font-size: 18px;
    color: #2727278e;

}

.flowers {
    display: flex;
    justify-content: center;
    width: 1920px;
    height: px;
    margin: 80px 0px 240px;
    background: #FFF;
}



.img-flower1 {
    width: 310px;
    height: 428px;
    padding-top: 110px;
    padding-right: 78px;
    padding-left: 76px;
    margin-bottom: 0px;
}

.img-flower2 {
    width: 370px;
    height: 370px;
    padding-top: 117px;
    padding-right: 47px;
    padding-left: 47px;
    padding-bottom: 51px;
    margin-bottom: 0px;
}

.img-flower3 {
    width: 314px;
    height: 471px;
    padding-top: 67px;
    padding-right: 75px;
    padding-left: 75px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}


.img1-bg {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin: 24px;

}

.img2-bg {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin: 24px;

}

.img3-bg {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    margin: 24px;

}

.flower-text {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-style: bold;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.flower-text:hover {
    background-color: #7aabf5;
    color: red;
}

.signup-section {
    vertical-align: top;
    padding: 0px;
    margin: 0px;
    width: 1922px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.signup-geatings {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.highlight-text {
    color: #E55473;

}

.signup-text {
    margin-left: 423px;

}

.signup-btn {
    margin-left: 190px;

}


.signup-offer {
    width: 594px;
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 24px;
}

.offer-img {
    width: 318px;
    height: 420px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 429px;
}


.social-media {
    margin: 128px 240px;
    background-color: white;
}

.media-text {
    justify-content: center;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.media-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 24px;
}

.social-photos {
    display: flex;
    list-style: none;
    justify-content: space-between;

}

.scl-img {
    width: 342px;
    height: 396px;
}

.subcription {
   
    margin-top: 128px;
    background-color: white;
    width: 1440px;
    height: 449px;   
    background-image: url('./Flower\ Asset/Rectangle 9.png');
}



.subcription-request {  
    padding-top: 122px;  
    margin-top: 122px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.coupon-text{
    color: rgba(100, 97, 97, 0.356);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    
}

.input-box{
width: 700px;
height: 64px;
margin-left: 287px;
margin-bottom: 121px;
border-style: none;
border-radius: 8px;
background: #FFF;
color: white;
}

.subscribe-btn{
    margin-bottom: 121px;
    margin-right: 287px;
}
.input{
    display: flex;
    align-items: center;
}